@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #dae8df;
  color: #424744;
}

html {
  scroll-behavior: smooth;
}

nav {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.nav-link {
  padding-left: 5px;
}

a {
  text-decoration: none;
  color: #2e3833;
}
