@import url(https://fonts.googleapis.com/css?family=Montserrat);

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  background-color: #e4f9f5;
  color: #40514e;
  padding: 0 20px 0 20px;
}

nav {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 2px solid #11999e;
  padding: 5px 0 5px 0;
}

img {
  display: block;
  border-radius: 8px;
  width: 400px;
  height: 100px;
  max-width: 100%;
  height: auto;
}

h1 {
  text-shadow: 1px 1px 1px #11999e;
  text-align: center;
}

ul {
  list-style: square;
}

a {
  text-decoration: none;
  color: #40514e;
}

a.nav-link {
  text-align: center;
}

.cat-pic {
  margin-left: auto;
  margin-right: auto;
}

.projects {
  text-align: center;
}

.project-pic {
  box-shadow: 5px 5px 5px 2px #8bbabb;
  margin-left: auto;
  margin-right: auto;
}

.project-pic:hover {
  box-shadow: 5px 5px 5px 2px #11999e;
}

.portfolio {
  font-size: 0.9em;
  font-style: italic;
}

.nav-link {
  padding-left: 5px;
}

.contact a {
  padding-right: 20px;
}

.project-title {
  border-bottom: 1px solid #11999e;
  text-shadow: 1px 1px 1px #11999e;
}

.contact-links {
  text-align: center;
}
