@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #dae8df;
  color: #424744;
}

html {
  scroll-behavior: smooth;
}

.app {
  display: grid;
}

.name {
  text-align: left;
}

.contact a, .header a {
  text-decoration: none;
  color: #2e3833;
}
